$dark-mode-background-color: #343434;


$dark-mode-contrast-color: #F9F6EE;

$mobile-medium-breakpoint: 450px;
$mobile-large-breakpoint: 600px;
$tablet-breakpoint: 768px;
$laptop-small-breakpoint: 1100px;
$desktop-breakpoint: 1400px;
